.authContainer {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.authContainer h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.inputField {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #000000;
    border-radius: 4px;
}

.submitButton {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #555;
}
