.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 900px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.3s ease-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;
  }
  
  .optionContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
  }
  
  .option {
    width: 28%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    text-align: center;
  }
  
  .option:hover {
    background-color: #f0f0f0;
    border-color: #ccc;
  }
  
  .option h3 {
    margin: 0 0 10px;
  }
  
  .option p {
    font-size: 0.9rem;
    margin: 0 0 10px;
    color: #555;
  }
  
  .option ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .option ul li {
    margin: 5px 0;
    font-size: 0.8rem;
    color: #777;
    text-align: left;
  }
  
  .createBtn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .createBtn:hover {
    background-color: #2980b9;
  }
  
  .selected {
    border-color: black;
  }
  