.navbar {
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: fit-content;
  height: 100%;
  background-color: #000000;
  color: #333;
  transition: left 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.sidebarContent {
  padding: 20px;
}

.closeBtn {
  background: none;
  border: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 20px;
}

.sidebarLink {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebarLink:hover{
  color: rgb(120, 190, 199);
}

.logoutButton {
  background: none;
  border: 5px;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  width: max-content;
}

.sidebarToggle {
  cursor: pointer;
  font-size: 24px;
}

.brand {
  cursor: pointer;
  font-size: 24px;
}

.profileIcons {
  display: flex;
  align-items: center;
}

.settingsIcon {
  position: relative;
  cursor: pointer;
  margin-left: 20px;
}

.settingsImage {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.profileIcon {
  position: relative;
  cursor: pointer;
  margin-left: 20px;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 9px;
}

.dropdownMenu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.dropdownLink {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.dropdownLink:hover {
  background-color: #f0f0f0;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navLink {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
