/* Common background for the profile page */
.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7; /* Light background color */
  padding: 20px;
  margin-top: 50px; /* Adjust this value based on the height of your navbar */
  animation: fadeIn 1s ease-in-out;
}

.header {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #3498db; /* Bright blue color */
  animation: fadeInUp 1s ease-out;
}

.profileDetails {
  background: #ffffff; /* White background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  margin-bottom: 20px;
}

.profileDetails div {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.profileDetails strong {
  display: inline-block;
  width: 150px;
  font-weight: 600;
  color: #333;
}

.formContainer {
  background: #ffffff; /* White background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.inputField {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd; /* Light border */
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.submitButton,
.editButton,
.confirmButton {
  background-color: #3498db; /* Bright blue color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submitButton:hover,
.editButton:hover,
.confirmButton:hover {
  background-color: #2980b9; /* Darker blue on hover */
  transform: scale(1.05);
}

.confirmButton {
  background-color: #28a745; /* Green color */
}

.confirmButton:hover {
  background-color: #218838; /* Darker green on hover */
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
